/* .container{
    width: 100%;
  padding: 0rem 12rem;
} */

.button {
    
  background-color: #a991d4
}

/* img {
  min-width: 10rem;
  height: 10rem;
} */


.hero-section-image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-style {
  width: 100%;
  height: auto;
}



  figure::after {
    content: "";
    width: 50%;
    height: 100%;
    left: 0;
    top: 10%;
    /* bottom: 10%; */
    background-color: rgba(81, 56, 238, 0.4);
  }

  body {
    background-color: #e3e8f3;
    color: rgb(0, 0, 0);
    padding: 40px;
    font-family: Arial;
    margin-top: 25px;
    /*  */
  }
  .space{
    display: inline-block;
  }

  .centerIt{
    text-align: center;
  }
  .centerTable{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }

  table {
    border-spacing: 20px;
    
  }
  td {
   
    padding: 10px;
   
  }
  .slideStyles {
    width: "100%";
    height :"auto";
    border-radius: "10px";
    background-size: "cover";
    background-position: "center";
  };

  