/* .container{
    width: 100%;
  padding: 0rem 12rem;
} */

.button {
  align-items: center;  
  background-color: #a991d4;
  border-radius: 45%;
  border: none;
}

/* img {
  min-width: 10rem;
  height: 10rem;
} */


.hero-section-image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-style {
  width: 100%;
  height: auto;
}
 

  body {
    background-color: #e3e8f3;
    color: rgb(0, 0, 0);
    padding: 40px;
    font-family: Arial;
    margin-top: 25px;
    /*  */
  }
  .space{
    display: inline-block;
  }

  .centerIt{
    text-align: center;
  }
  .centerTable{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }

  table {
    border-spacing: 20px;
    text-align: center;
    
  }
  td {
   
    padding: 10px;
   
  }
  .slideStyles {
    width: "100%";
    height :"auto";
    border-radius: "10px";
    background-size: "cover";
    background-position: "center";
  };
  

  h1{
    text-align: center;
  }
  .fontFamily{
    font-family: 'Mukta', sans-serif;
  }

  .col-container {
    display: table; 
    width: 100%; 
  }
  
  .col {
    display: table-cell; 
  }
  .bg1{
    background-color: #a490ca;
  }
  .bg2{
    background-color: #7657b1;
  }